@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@300&family=Sofia+Sans+Condensed&display=swap');

*{
    padding: 0;
    margin: 0;
}


body{
    background-color: white;
    overflow-x:hidden;
}

.navbar{
    background-color: #FF7E44;
}

.logo-image{
    height:11vh;
    padding-top: 0.5rem;
}

.nav-link{
    font-size: 1.1rem;
}

.main-div {
    background-image: url('images/background.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 207vh;
    height:  auto;
    background-size: cover;
    max-width: 100%;
    max-height: auto;
    overflow: hidden;
    width: auto;
    /* resize: both; */
}

.heading-div {
    text-align: center;
    padding: 5vw;
    overflow: hidden;
}

.heading-1 {
    font-size: 5vw;
    margin: 0;
    color: azure;
    font-family: monospace;
    text-align: start;
    max-width: 26vmax ;
    margin-right: 60vw;
    padding-top: 0;
}
#service,#contact,#direction{
    width: auto;
    overflow: hidden;
}
.heading-service{
    padding-top: 3rem;
    padding-bottom: 3rem;
    overflow: hidden;
}

.service-div{
    padding: 1rem;
    width: auto;
    overflow: hidden;
}
.banner{
    background-image: url('images/pricing-menubanner.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: auto;
    height:  auto;
    background-size: cover;
    max-width: 100%;
    max-height: auto;
    overflow: hidden;
}

.for-contact{
    background-color: #FF7E44;
    padding-top: 1rem;
    overflow: hidden;
    max-width: 100%;
}

.heading-contact{
    padding-top: 3rem;
    padding-bottom: 3rem;
    overflow: hidden;
}
h2{
    text-align: center;
    font-family: system-ui;
    text-decoration: underline;
    text-decoration-color: black;
}

.heading-direction{
    padding-bottom: 3rem;
    padding-top: 3rem;
    overflow: hidden;
}

.map-div{
    background-color: #FF7E44;
    max-width: 100%;
    overflow: hidden;
    width: auto;
}

iframe{
    overflow: hidden;
}
.map{
    border: 0;
    height: 23rem;
    width: 100%;
    padding: 2%;
    overflow: hidden;
}

.contact-div{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 3rem 0 5rem;
}

.phone-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ph-para,.dr-para{
    padding-bottom:0.5rem;
    font-family: monospace;
    font-size: 1.2rem;
    font-weight: bold;
}

.phone-logo{
    height: 2.3vh;
    padding-top: 1.3vh;
}

.first-call{
    padding-bottom: 1vh;
}
.phonelink{
    background-color: #F6F1E9;
    border-radius: 10px;
    width: 11vw;
    display: block;
    text-align: center;
    /* padding: 1.2vh 0 1.2vh; */
    text-decoration: none;
    color: black;
    font-family: system-ui;
    font-size: 2.9vh;
}
.phonelink:hover{
    color: #4D3C77;
}
.direction-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.directionlink{
    background-color: #F6F1E9;
    border-radius: 8px;
    width: 7vw;
    display: block;
    text-align: center;
    padding: 1vh 0 1.6vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    font-family: system-ui;
    font-size: 2vh;
}

.directionlink:hover{
    color: #A2FF86;
}

.phone-div{
    width: 30%;
}

.direction-div{
    width: 40%;
}
.direction-logo{
    height: 5vh;
    padding-top: 0.7vh;
}

.time{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 30%;
}

.timing{
    font-size: 1.2rem;
    font-weight: bold;
    font-family: monospace;
    padding-bottom: 8px;
}

.time-para{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-bottom: 2px;
}

footer{
    overflow: hidden;
}
.footer-div{
    background-color: rgb(16, 16, 17);
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding-top: 5rem;
    padding-bottom: 5rem;
    overflow: hidden;
}

.links-div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 30%;
}
.links-para{
    color: white;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-left: 1vw;
}
.footer-links{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-left: 1vw;
    text-decoration: none;
    color: white;
}

.footer-logo{
    height: 14vh;
}
.footer-links-2{
    font-family: monospace;
    text-decoration: none;
    color: white;
    padding-left: 1vw;
}

.footer-links-2:hover{
    color: aqua;
}
.fi{
    color: white;
    display: block;
    font-size: 3vh;
}

.fi:hover{
    color: aqua;
}

.footer-logo-div{
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
}

.footer-header{
    color: white;
    font-size: 2.4vh;
    font-family: system-ui;
    padding-left: 1vw;
}
.footer-contacts{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 30%;
}

.footer-end{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.om-para{
    background-color: rgb(16, 16, 17);
    color: white;
    font-family: monospace;
    text-align: center;
    overflow: hidden;
}

.om-link{
    color: aqua;
    text-decoration: none;
}

.om-link:hover{
    color: white;
}

@media (min-width: 992px){
    .navbar-expand-lg .navbar-collapse {
        display: flex!important;
        flex-basis: auto;
        justify-content: flex-end;
    }
}

@media (max-width:62em){

    .logo-image{
        height: 6vh;
    }

    .main-div{
        /* width: 207vw; */
        height: 26vh;
        width: 100%;
    }

    /* contacts section */
    .background-div{
        padding-left: 1.5vh;
    }

    .banner{
        background-image: url(images/pricing-menubanner.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        background-size: cover;
        max-width: 100%;
        max-height: auto;
        overflow: hidden;
    }

    .phonelink{
        font-size: 1.9vh;
        width: 29vw;
    }

    .directionlink{
        width: 13vw;
    }

    .phone-logo{
        height: 2.5vh;
        padding-top: 0.6vh;
    }

    .direction-logo{
        height: 3vh;
        padding-top: 0.6vh;
    }

    .ph-para,.dr-para,.timing{
        font-size: 2vh;
    }

    .time-para{
        font-size: 1.9vh;
    }

    .links-para,.footer-header{
        font-size: 1.6vh;
    }

    .fi{
        font-size: 2.3vh;
    }
    .footer-logo{
        height: 8.5vh;
    }

    .for-contact{
        width: 100%;
    }

    .map-div{
        width: 100%;
    }
}
